name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: build and test
        shell: -e
        run: |
          WORKSPACE_ROOT=/root/ros2_ws
          mkdir -p $WORKSPACE_ROOT/src

          rsync -av ./ $WORKSPACE_ROOT/src/mypkg/


          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
